@import url("https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap");
* {
  margin: 0;
  padding: 0;
  font-family: "Work Sans", sans-serif;
}
.Dark1 {
  color: #131313;
}
.Dark2 {
  color: #424242;
}
.Dark3 {
  color: #727272;
}
.Dark4 {
  color: #a1a1a1;
}
.Dark5 {
  color: #d0d0d0;
}
.Dark6 {
  color: #e7e7e7;
}
.Dark7 {
  color: #f3f3f3;
}
.white {
  color: #ffffff;
}
.Highlight {
  color: #ff900e;
}
.Highlight-Bg {
  background-color: #ff900e;
}
.Hero-Bg-Color {
  background-color: #fff4e7;
}
.Display-flex {
  display: flex;
}
#Nav-List ul a {
  text-decoration: none;
  font-size: 1.125em;
}
#Nav-List ul {
  justify-content: space-between;
  gap: 5vw;
}
#Nav-List li {
  list-style: none;
}
nav h2 {
  font-size: 2em;
}
nav {
  padding: 2vh;
  justify-content: space-between;
  align-items: center;
  width: 72.5vw;
  margin: 0px auto 0px auto;
}
.Hero-Heading p {
  margin-bottom: 4%;
}
.Hero-Heading h1 {
  font-size: 4em;
  margin-bottom: 2%;
}
.Hero-Heading {
  text-align: center;

  width: 60vw;
  margin: 9% auto 0px auto;
  text-align: center;
}
.btn {
  border: none;
  border-radius: 8px;
  font-size: 1.25em;
  padding: 3% 4%;
  font-weight: bold;
  cursor: pointer;
}
.btn:hover {
  background-color: #ff7300;
}
header img {
  display: block;
  width: 72.5vw;
  margin: 5% auto 0 auto;
  padding-bottom: 3%;
}
#QuickList {
  justify-content: space-between;
  align-items: center;
  gap: 5%;
  width: 72.5vw;
  margin: 5% auto 0px auto;
}
.QuickList-Img-Container img {
  width: 20vw;
}
.QuickList-Img-Container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  gap: 2%;
}
#QuickList-Headings h2 .Qc {
  font-weight: normal;
}
#QuickList-Headings p {
  margin-bottom: 8%;
}
#QuickList-Headings h2 {
  font-size: 2.8125em;
  margin-bottom: 6%;
}

#Feature-Section {
  width: 75vw;
  margin: 5% auto 0 auto;
  gap: 5%;
}
.Feature-Img-Container {
  width: 40vw;
}
.Feature-Headings p {
  margin-bottom: 12%;
}
.Feature-Headings h1 {
  font-size: 2.8rem;
  margin-bottom: 2vw;
  padding-left: 5%;
  border-left: #ff900e 4px solid;
}
.Feature-Cards h4 {
  margin-bottom: 2%;
}
.Feature-Cards {
  padding: 6% 10%;
  border-radius: 8px;
  margin-bottom: 7%;
}
.JamboTxt {
  font-size: 4rem;
  font-weight: bold;
}
.Feature-Img-Container button {
  width: 60%;
  height: 15%;
  padding: 3% 4%;
  font-size: 1.5rem;
  font-weight: 400;
  margin-top: -15%;
  margin-left: -15%;
}
/* Facts Section */
#Facts-Section{
  width: 80vw;
  margin: 10% auto 10% auto;
}
.Facts-Headings{
  width: 50%;
  margin-bottom: 8%;
}
.Facts-Cards-Container{
  display: grid;
  grid-template-columns: repeat(4, 0.2fr);
  flex-wrap: wrap;
  flex-direction: row;
  gap: 20px;
  justify-content: space-between;
  align-items: center;
}
.Facts-Cards p{
  font-size: 1.25rem;
  font-weight: 600;
}
.Facts-Cards h1{
  font-size: 2.8rem;
  font-weight: 600;
}
.Facts-Cards{
  text-align: center;
  border-radius: 8px;
  border: 2px solid #FF900E;
  padding: 12% 2%;
}
/* For mobile */
@media screen and (max-width: 575.98px) {
  nav {
    margin-top: 50px;
    justify-content: space-between;
    width: 90vw;
    margin: 0px auto 0px auto;
  }
  #Nav-List ul a {
    font-size: 0.8em;
  }
  #Nav-List ul {
    font-size: 100%;
    gap: 2vw;
  }
  .Hero-Heading h1 {
    font-size: 2em;
  }
  nav h2 {
    text-align: center;
    font-size: 4vw;
  }
  #QuickList {
    flex-direction: column-reverse;
    justify-content: space-between;
    align-items: center;
    gap: 5vw;
    width: 72.5vw;
    margin: 5% auto 0px auto;
  }
  #QuickList-Headings {
    text-align: center;
  }
  .QuickList-Img-Container img {
    width: 35vw;
  }
  #Feature-Section img {
    width: 100%;
  }
  #Feature-Section {
    flex-direction: column;
    align-items: center;
    margin: 10% auto 0 auto;
  }
  .Feature-Img-Container button {
    margin-top: -30%;
    margin-left: 0;
  }
  .Feature-Img-Container {
    text-align: center;
    width: 100%;
  }
  .Feature-Cards {
    padding: 3% 5%;
    border-radius: 8px;
    margin-bottom: 4%;
  }
  .Facts-Headings{
    width: 100%;
  }
  .Facts-Cards-Container{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    flex-direction: column;
  }

}
/* For tab */
@media screen and (min-width: 576px) and (max-width: 991.8px) {
  nav {
    margin-top: 50px;
    justify-content: space-between;
    /* width: 72.5vw; */
    margin: 0px auto 0px auto;
  }
  #Nav-List ul {
    font-size: 100%;
    gap: 2vw;
  }
  nav h2 {
    text-align: center;
    font-size: 3vw;
  }
  .Hero-Heading h1 {
    font-size: 3em;
    margin-bottom: 2%;
  }
  #QuickList {
    width: 80vw;
  }
  #QuickList-Headings p {
    font-size: 0.9em;
  }
  #QuickList-Headings button {
    font-size: 0.9em;
  }
  #QuickList-Headings {
    text-align: center;
  }
  #QuickList-Headings h2 {
    text-align: center;
    font-size: 2em;
  }
  #Feature-Section{
    flex-direction: column;
  }
  .Feature-Img-Container {
    width: 100%;
    text-align: center;
  }
  .Feature-Img-Container img{
    width: 100%;
  }
  .Feature-Img-Container button{
    margin-top: -30%;
    margin-left: 0;
  }
  
  .Facts-Headings{
    width: 100%;
  }
  .Facts-Cards-Container{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    flex-direction: column;
  }

}
