@import url("https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap");
* {
  margin: 0;
  padding: 0;
  font-family: "Work Sans", sans-serif;
}
.Dark1 {
  color: #131313;
}
.Dark2 {
  color: #424242;
}
.Dark3 {
  color: #727272;
}
.Dark4 {
  color: #a1a1a1;
}
.Dark5 {
  color: #d0d0d0;
}
.Dark6 {
  color: #e7e7e7;
}
.Dark7 {
  color: #f3f3f3;
}
.white {
  color: #ffffff;
}
.Highlight {
  color: #ff900e;
}
.Highlight-Bg {
  background-color: #ff900e;
}
.Hero-Bg-Color {
  background-color: #fff4e7;
}
.Display-flex {
  display: flex;
}
#Nav-List ul a {
  text-decoration: none;
  font-size: 1.125em;
}
#Nav-List ul {
  justify-content: space-between;
  gap: 5vw;
}
#Nav-List li {
  list-style: none;
}
nav h2{
 font-size: 2em; 
}
nav {
  padding: 2vh;
  justify-content: space-between;
  align-items: center;
  width: 72.5vw;
  margin: 0px auto 0px auto;
}
.Hero-Heading p {
  margin-bottom: 4%;
}
.Hero-Heading h1 {
    /* word-wrap: break-word; */
  font-size: 4em;
  margin-bottom: 2%;
}
.Hero-Heading {
  text-align: center;

  width: 60vw;
  margin: 9% auto 0px auto;
  text-align: center;
}
.btn {
  border: none;
  border-radius: 8px;
  font-size: 1.25em;
  padding: 3% 4%;
  font-weight: bold;
  cursor: pointer;
}
.btn:hover{
  background-color:#ff7300;
}
header img{
    display: block;
    width: 72.5vw;
    margin: 5% auto 0 auto;
    padding-bottom: 3%;
}
#QuickList{
  justify-content: space-between;
  align-items: center;
  gap: 5%;
  width: 72.5vw;
  margin: 5% auto 0px auto;
}
.QuickList-Img-Container img{
  width: 20vw;
}
.QuickList-Img-Container{
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  gap: 2%;
}
#QuickList-Headings h2 .Qc{
  font-weight: normal;
}
#QuickList-Headings p{
  margin-bottom: 8%;
}
#QuickList-Headings h2{
  font-size: 2.8125em;
  margin-bottom: 6%;
}





@media screen and (max-width: 575.98px) {
  nav {
    margin-top: 50px;
    justify-content: space-between;
    width: 90vw;
    margin: 0px auto 0px auto;
  }
  #Nav-List ul {
    font-size: 3vw;
    gap: 2vw;
  }
  .Hero-Heading h1 {
    /* word-wrap: break-word; */
  font-size: 2em;
}
nav h2{
  text-align: center;
 font-size: 4vw; 
}
#QuickList{
  flex-direction: column-reverse;
  justify-content: space-between;
  align-items: center;
  gap: 5vw;
  width: 72.5vw;
  margin: 5% auto 0px auto;
}
#QuickList-Headings{
  text-align: center;
}
.QuickList-Img-Container img{
  width: 35vw;
}
}
